@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

// Variables //

$pinkish-red: hsl(0, 36%, 70%);
$transparent-pinkish-red: rgba(206, 151, 151, 0.7);
$soft-red: rgb(249, 98, 98);
$grayish-red: hsl(0, 6%, 24%);

$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Globals //

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

// Main style //
.main {
  &__logo__mobile {
    margin: 2rem;
    height: 1.5rem;
  }

  &__logo__desktop {
    display: none;
  }

  &__hero {
    width: 100%;
  }

  &__text {
    text-align: center;
    color: $pinkish-red;
    margin: 4rem 1rem;

    &__heading {
      text-transform: uppercase;
      font-size: 2.8rem;
      font-weight: 300;
      letter-spacing: 0.3em;

      &--black {
        display: block;
        font-weight: 700;
        color: $grayish-red;
      }
    }

    &__paragraph {
      margin-top: 1rem;
      line-height: 1.5em;
    }

    &__form {
      margin-top: 3rem;

      &__wrapper {
        position: relative;
      }

      &__error {
        display: none;
        position: absolute;
        width: 30px;
        right: 8rem;
        top: 12px;
      }

      &__input {
        border-radius: 40px;
        border-color: $transparent-pinkish-red;
        border-style: solid;
        border-width: 1px;
        padding: 1.5em;
        width: 90%;
        margin-bottom: 1rem;

        &::placeholder {
          color: $transparent-pinkish-red;
          padding-left: 0.5rem;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 1rem;
        }
      }

      &__submit {
        background-image: url('../images/icon-arrow.svg'), $gradient2;
        background-repeat: no-repeat;
        background-position: center;
        width: 5rem;
        height: 3.6rem;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        position: absolute;
        right: 5%;
        -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.18);
      }

      &__msg {
        display: none;
        margin-left: 2rem;
        color: $soft-red;
      }
    }
  }
}

// Media queries //

@media only screen and (min-width: 600px) {
  .main {
    &__logo__mobile {
      height: 3rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__hero {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }

    &__text {
      &__heading {
        font-size: 3.5rem;
      }

      &__paragraph {
        font-size: 1.5rem;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }

      &__form {
        &__input {
          width: 55%;
        }

        &__error {
          right: 35%;
        }

        &__submit {
          left: 70%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    display: flex;
    height: 100vh;
    background-image: url('/images/bg-pattern-desktop.svg');
    background-size: cover;

    &__logo__mobile,
    &__hero {
      display: none;
    }

    &__logo__desktop {
      display: inline;
      width: 10rem;
      margin-left: 10rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
        text-align: left;
      }

      &__heading {
        font-size: 4rem;
        line-height: 5rem;
      }

      &__paragraph {
        margin-top: 2rem;
        max-width: 50rem;
        line-height: 2rem;
      }

      &__form {
        &__input {
          width: 25rem;
        }

        &__error {
          right: 25%;
        }

        &__submit {
          width: 7rem;
          height: 3.6rem;
          left: 85%;
          transition: filter 0.1s;

          &:hover {
            filter: brightness(135%);
          }
        }
      }
    }

    .photo {
      flex: 1;
      background-image: url('../images/hero-desktop.jpg');
      background-size: cover;
    }
  }
}

// FE Mentor style //

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  display: none;
}
